<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8" style="border: 1px solid green;">
        <p>Fullstack Web Developer based in New York City.</p>
        <p>I am an guy. lorem ipsum son</p>
      </div>
    </div>
  </div>
</div>
