<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "profile.jpg", width: 300, alt: "Profile Image", class: 'profile-img' %>
      </div>
      <div class="col-md-8" style="border: 1px solid green;">
        <p>Fullstack Web Developer based in New York City.</p>
        <p>I am an guy. lorem ipsum son</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory"
          >
            Job History
          </button>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobssss 1
            </div>
            <div class="card card-block">
              Jobssss 2<br>
              something
            </div>
            <div class="card card-block">
              Jobssss 3
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              School 1
            </div>
            <div class="card card-block">
              School 2
            </div>
            <div class="card card-block">
              School 3 <br>
              something
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
