<h1>Pages#contact</h1>

<p><%= number_to_phone "5555555555" %></p>
<p><%= number_to_currency "55567855" %></p>
<p><%= number_to_percentage "55.55" %></p>
<p><%= number_with_delimiter "2349875234598723459870" %></p>
