<div class="app-card-container">
  <div class="card">
    <h2>Contact Me</h2>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <p>New York, NY</p>
        <p>954-867-5309</p>
        <p><a href="mailto:mattjaikaranweb@gmail.com?subject=PortfolioContact">Email Me</a></p>
      </div>
      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40317.05093319866!2d-74.00119503194668!3d40.747532672732525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY!5e0!3m2!1sen!2sus!4v1501044479033" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

  </div>
</div>
