<div class="inner cover">
  <h2 class="cover-heading">Fullstack Web Developer</h2>
  <p class="lead">React | Rails</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
