# development:
#   adapter: async

local: &local
  url: redis://localhost:3000

development: *local

test:
  adapter: postgresql
  url: redis://localhost:3000
  channel_prefix: JaikaranPortfolio_test

production:
  adapter: redis
  url: redis://localhost:6379/1
  channel_prefix: JaikaranPortfolio_production
